{% include "empty.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- Set a title image -->
    <link rel="icon" type="image/png" href="data.jpg">

    <!-- Navigation Bar Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar">
        <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="/data_analysis"><i class="fa fa-fw fa-search"></i> Analysis</a> 
        <a class="active" href="/about"><i class="fa fa-fw fa-envelope"></i> About Us</a> 
        <a href="/contact"><i class="fa fa-fw fa-phone"></i>Contact</a>
      </div>
    <!-- Main Content -->
    <main>
        <section id="about">
            <div class="container">
                <h1>About Us: The Data Explorers</h1>
                <p>Welcome to "The Data Explorers" – an ambitious team of four passionate students on a captivating journey through the realm of data analysis. Allow us to introduce ourselves:</p>
        
                <h2>Kutluhan Aygüzel - The Data Maven</h2>
                <p>With a profound fascination for numbers and patterns, Kutluhan takes on the role of the data maven in our team. Armed with a keen eye for detail and a thirst for knowledge, he delves deep into datasets, unearthing insights that others might overlook. His expertise in Python, pandas, and SQL allows him to wield data as a powerful tool for understanding the world.</p>
        
                <h2>Asude Emecan - The Curious Investigator</h2>
                <p>Curiosity drives Asude's quest for knowledge. Her inquisitive nature is the driving force behind our pursuit of meaningful insights. As the curious investigator, she loves exploring diverse datasets, drawing connections between seemingly unrelated factors, and unveiling the hidden stories behind the numbers. Python and data visualization are her allies in crafting compelling narratives.</p>
        
                <h2>İsmail Karayılan - The Problem Solver</h2>
                <p>İsmail is our master problem solver. He thrives in tackling complex data challenges head-on, ensuring data accuracy, and transforming raw data into structured information. With his exceptional skills in Python and SQL database management, he plays a vital role in keeping our data analysis pipeline running smoothly.</p>
        
                <h2>Ozan Parlayan - The Storyteller</h2>
                <p>Ozan weaves data into captivating stories that resonate with audiences. As the storyteller of our team, he utilizes data visualization techniques to breathe life into our analysis, making complex concepts accessible and engaging. With his talent in presenting data in visually stunning ways, he brings a creative edge to our data-driven narratives.</p>
        
                <p>Together, we form a dynamic and synergistic team, driven by our shared passion for data and its potential to make a positive impact on the world. Our journey into the world of data analysis began with a common vision – to unravel the hidden treasures concealed within datasets and translate them into meaningful insights.</p>
        
                <p>Armed with Python, pandas, and an SQL database, we venture into the vast seas of data, exploring economic trends, demographics, and much more. The Turkish Statistical Institute (TUIK) serves as our treasure trove of datasets, guiding us on a path to discovery.</p>
        
                <p>In our quest, we embrace collaboration, exchanging ideas, and pushing the boundaries of data analysis. Late-night coding sessions and animated debates fuel our progress as we navigate through the challenges and exhilarating moments that lie ahead.</p>
        
                <p>Our project goes beyond mere academic endeavors. We are committed to leveraging data for a broader purpose – to inform policies, shed light on societal issues, and empower decision-makers with data-driven insights.</p>
        
                <p>We invite you to join us on this enthralling voyage through the world of data analysis. As we decode intricate patterns and draw impactful conclusions, we aim to leave an indelible mark on the landscape of data-driven decision-making.</p>
        
                <p>"The Data Explorers" - Unraveling Insights, One Dataset at a Time.</p>
            </div>
        </section>
    <div class="iframe-container">
        <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.409/build/spline-viewer.js"></script>
        <spline-viewer url="https://prod.spline.design/HLighSmbYIuxtpSt/scene.splinecode"></spline-viewer>
    </div>
        <!-- Other sections can be added here -->
        <!-- For example, you can add sections for team members, history, achievements, etc. -->
    </main>

    <style>
    main {
        color: white; /* Set the text color to white */
        padding: 1%;
    }
    .container {
        max-width: 800px;
        margin: 20px auto;
        color: white;
        border-radius: 5px;
        margin-bottom: 3%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        z-index: 2;
    }

    h1 {
        font-size: 30pt;
        text-align: center;
        color: white;
    }

</style>
</body>
</html>
